Node-RED/SistemaUmidade.json
[
    {
        "id": "591c1b311c4991f6",
        "type": "tab",
        "label": "SIstema Umidade",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "971b444fcf5715b2",
        "type": "mqtt in",
        "z": "591c1b311c4991f6",
        "name": "",
        "topic": "TOPICO_WOKWI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b13feb199e7ed7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "4c93c5a608867d9f",
                "ca1c91f0225bb212",
                "f17dab14258ce172",
                "f4c1b07862820b58"
            ]
        ]
    },
    {
        "id": "4c93c5a608867d9f",
        "type": "debug",
        "z": "591c1b311c4991f6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "1c5c19e12fb17a6d",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "731b21d27b51aae6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor Umidade",
        "format": "{{msg.payload}}%",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 420,
        "wires": []
    },
    {
        "id": "52173c2551e541aa",
        "type": "ui_gauge",
        "z": "591c1b311c4991f6",
        "name": "",
        "group": "731b21d27b51aae6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MedidorUmidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#c64600",
            "#f5c211",
            "#0094ce"
        ],
        "seg1": "20",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "64fab1381b6b2fad",
        "type": "ui_chart",
        "z": "591c1b311c4991f6",
        "name": "",
        "group": "e3eff5f5580a9351",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Umidade",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ca1c91f0225bb212",
        "type": "change",
        "z": "591c1b311c4991f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Potenciometro",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "1c5c19e12fb17a6d",
                "52173c2551e541aa",
                "64fab1381b6b2fad"
            ]
        ]
    },
    {
        "id": "cae9495d798fc5ff",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "731b21d27b51aae6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor Temperatura",
        "format": "{{msg.payload}}°C",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 560,
        "wires": []
    },
    {
        "id": "ff08e5abf46d6711",
        "type": "ui_gauge",
        "z": "591c1b311c4991f6",
        "name": "",
        "group": "731b21d27b51aae6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MedidorTemperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "60",
        "colors": [
            "#3584e4",
            "#2ec27e",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 600,
        "wires": []
    },
    {
        "id": "4015ad87ab536e89",
        "type": "ui_chart",
        "z": "591c1b311c4991f6",
        "name": "",
        "group": "e3eff5f5580a9351",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e01b24",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f17dab14258ce172",
        "type": "change",
        "z": "591c1b311c4991f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "ff08e5abf46d6711",
                "cae9495d798fc5ff",
                "4015ad87ab536e89"
            ]
        ]
    },
    {
        "id": "f4c1b07862820b58",
        "type": "function",
        "z": "591c1b311c4991f6",
        "name": "Alertas",
        "func": "var payload = msg.payload; \n\n// Temperatura\nvar temperatura = payload.Temperatura;\n// Potenciômetro\nvar umidade = payload.Potenciometro;\n\n// Pegando o valor do slider de temperatura mínima e máxima\nvar tempMinima = flow.get('tempMinima') || 10;  // Valor padrão de 10 se o slider não estiver configurado\nvar tempMaxima = flow.get('tempMaxima') || 30;  // Valor padrão de 30 se o slider não estiver configurado\n// Pegando o valor do slider de umidade mínima e máxima\nvar umidadeMinima = flow.get('umidadeMinima') || 20;  // Valor padrão de 20 se o slider não estiver configurado\nvar umidadeMaxima = flow.get('umidadeMaxima') || 80;  // Valor padrão de 80 se o slider não estiver configurado\n\n\n// Verificação da Temperatura\nif (temperatura < tempMinima) {\n    msg.payload = \"Low Temperature\";\n    return msg;\n} else if (temperatura > tempMaxima) {\n    msg.payload = \"High Temperature\";\n    return msg;\n}\n\n// Verificação da Umidade\nif (umidade < 20) {\n    msg.payload = \"Low Humidity!\";\n    return msg;\n} else if (umidade > 80) {\n    msg.payload = \"High Humidity\";\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 340,
        "wires": [
            [
                "f0aacab8ecc4dc45"
            ]
        ]
    },
    {
        "id": "f0aacab8ecc4dc45",
        "type": "ui_audio",
        "z": "591c1b311c4991f6",
        "name": "",
        "group": "3428b1b565d3789c",
        "voice": "urn:moz-tts:speechd:Urdu+RicishayMax2?ur",
        "always": true,
        "x": 1060,
        "y": 340,
        "wires": []
    },
    {
        "id": "20efd029b5b766be",
        "type": "mqtt in",
        "z": "591c1b311c4991f6",
        "name": "",
        "topic": "TOPICO_CLIMA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b13feb199e7ed7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 800,
        "wires": [
            [
                "56ebf36ed34117a5",
                "6ccb40eba8af8605"
            ]
        ]
    },
    {
        "id": "56ebf36ed34117a5",
        "type": "debug",
        "z": "591c1b311c4991f6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "b740e0e1455958b8",
        "type": "ui_slider",
        "z": "591c1b311c4991f6",
        "name": "",
        "label": "Temperatura Minima",
        "tooltip": "",
        "group": "3428b1b565d3789c",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "tempMinima",
        "topicType": "flow",
        "min": "-20",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 720,
        "y": 40,
        "wires": [
            [
                "f4c1b07862820b58",
                "471f4257c12f08ca"
            ]
        ]
    },
    {
        "id": "e54b7482def10e30",
        "type": "ui_slider",
        "z": "591c1b311c4991f6",
        "name": "",
        "label": "Temperatura Maxima",
        "tooltip": "",
        "group": "3428b1b565d3789c",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "tempMaxima",
        "topicType": "flow",
        "min": "-20",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "f4c1b07862820b58",
                "f228f49f66b32bbd"
            ]
        ]
    },
    {
        "id": "ed2984cc87071019",
        "type": "ui_slider",
        "z": "591c1b311c4991f6",
        "name": "",
        "label": "Umidade Maxima",
        "tooltip": "",
        "group": "3428b1b565d3789c",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "umidadeMaxima",
        "topicType": "flow",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "f4c1b07862820b58",
                "6418f5d51dae269d"
            ]
        ]
    },
    {
        "id": "dc77aea1c93877bf",
        "type": "ui_slider",
        "z": "591c1b311c4991f6",
        "name": "",
        "label": "Umidade Minima",
        "tooltip": "",
        "group": "3428b1b565d3789c",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "umidadeMinima",
        "topicType": "flow",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "f4c1b07862820b58",
                "6723fb51ce8ee056"
            ]
        ]
    },
    {
        "id": "471f4257c12f08ca",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "3428b1b565d3789c",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 40,
        "wires": []
    },
    {
        "id": "f228f49f66b32bbd",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "3428b1b565d3789c",
        "order": 4,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "6723fb51ce8ee056",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "3428b1b565d3789c",
        "order": 6,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "6418f5d51dae269d",
        "type": "ui_text",
        "z": "591c1b311c4991f6",
        "group": "3428b1b565d3789c",
        "order": 8,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "6ccb40eba8af8605",
        "type": "ui_template",
        "z": "591c1b311c4991f6",
        "group": "3b79fa0cf6a3bd7e",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<head>\n  <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css\">\n  <style>\n    .container {\n      text-align: center;\n      font-family: 'Arial', sans-serif;\n      background-color: #f4f4f4;\n      border-radius: 15px;\n      padding: 20px;\n      width: 300px;\n      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);\n      margin: 10px auto;\n    }\n    .container h3 {\n      font-size: 24px;\n      color: #2196F3;\n      margin-bottom: 20px;\n    }\n    .weather-icon {\n      font-size: 80px;\n      color: #2196F3;\n      margin-bottom: 15px;\n    }\n    .weather-info {\n      font-size: 16px;\n      color: #333;\n    }\n    .weather-info strong {\n      color: #000;\n    }\n    .separator {\n      margin: 15px 0;\n      border-top: 1px solid #ddd;\n    }\n    .value {\n      font-size: 18px;\n      color: #555;\n      margin-top: 5px;\n    }\n  </style>\n</head>\n\n<div class=\"container\">\n  <h3>Clima Atual</h3>\n\n  <!-- Exibe o ícone com base na condição -->\n  <div class=\"weather-icon\">\n    <i class=\"wi\" ng-class=\"{\n      'wi-day-sunny': msg.payload.Condition == 'Sunny',\n      'wi-day-cloudy': msg.payload.Condition == 'Partly cloudy',\n      'wi-cloud': msg.payload.Condition == 'Cloudy',\n      'wi-rain': msg.payload.Condition == 'Rainy',\n      'wi-snow': msg.payload.Condition == 'Snow'\n    }\"></i>\n  </div>\n\n  <!-- Exibe outras informações -->\n  <div class=\"weather-info\">\n    <p><strong>Local:</strong> <span class=\"value\">{{msg.payload.Location}}, {{msg.payload.Region}}, {{msg.payload.Country}}</span></p>\n    <div class=\"separator\"></div>\n    <p><strong>Temperatura:</strong> <span class=\"value\">{{msg.payload.Temperature}} °C</span></p>\n    <div class=\"separator\"></div>\n    <p><strong>Condição:</strong> <span class=\"value\">{{msg.payload.Condition}}</span></p>\n  </div>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 480,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "0b13feb199e7ed7b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "731b21d27b51aae6",
        "type": "ui_group",
        "name": "Medidor",
        "tab": "db06bc5570ea19f8",
        "order": 4,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3eff5f5580a9351",
        "type": "ui_group",
        "name": "Grafico",
        "tab": "db06bc5570ea19f8",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3428b1b565d3789c",
        "type": "ui_group",
        "name": "Configurações de Alerta",
        "tab": "db06bc5570ea19f8",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b79fa0cf6a3bd7e",
        "type": "ui_group",
        "name": "Região",
        "tab": "db06bc5570ea19f8",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": true,
        "className": ""
    },
    {
        "id": "db06bc5570ea19f8",
        "type": "ui_tab",
        "name": "Solo",
        "icon": "mi-videogame_asset",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]